<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>DziraApp Index</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: navigator"></th:block>

<div class="container">
    <div class="row d-flex justify-content-center">
        <span style="font-size: 10vh; color: Dodgerblue;">
            <i class="far fa-sad-tear"></i>
        </span>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <h1>Something went wrong, sorry!</h1>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <h3>Here are the details:</h3>
    </div>
    <br>
    <br>
    <div class="row d-flex justify-content-center">
        <h5 th:text="${message}"></h5>
    </div>
</div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>