<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>DziraApp Task List</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: navigator"></th:block>
<div class="container">

    <div class="row d-flex justify-content-center">
            <span style="font-size: 10vh; color: Dodgerblue;">
                <i class="fas fa-tasks"></i>
            </span>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Task List</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Task Owner</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Status</th>
            <th scope="col">Shift to backlog</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="task : ${taskList}">
            <td sec:authorize="hasRole('ADMIN')" th:text="${task.getAppUser().getEmail()}"></td>
            <td th:text="${task.getTitle()}"></td>
            <td th:text="${task.getContent()}">Otto</td>
            <td>
                <span th:if="${task.isActive() == true}">
                    <span class="badge badge-success">Active</span>
                </span>
                <span th:unless="${task.isActive() == true}">
                    <span class="badge badge-secondary">Inactive</span>
                </span>
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <span th:if="${task.isActive() == true}">
                        <form th:action="@{/task/setToInactive}" sec:authorize="isAuthenticated()" th:method="get">
                        <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                        <input type="text" th:value="${false}" name="status" hidden>
                        <button type="submit" class="btn btn-secondary btn-sm mr-2">Backlog</button>
                        </form>
                    </span>

                    <span>
                        <form th:action="@{/task/setToInactive}" sec:authorize="isAuthenticated()" th:method="get">
                            <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                            <input type="text" th:value="${false}" name="status" hidden>
                            <button type="submit" class="btn btn-secondary btn-sm mr-2">Done</button>
                        </form>
                    </span>

                    <span th:if="${task.isActive() == false}">
                        <form th:action="@{/admin/task/setToActive}" sec:authorize="hasRole('ADMIN')" th:method="get">
                            <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                            <input type="text" th:value="${true}" name="status" hidden>
                            <button type="submit" class="btn btn-success btn-sm mr-2">Not Done</button>
                        </form>
                    </span>
                    <form th:action="@{/admin/task/delete}" sec:authorize="hasRole('ADMIN')" th:method="get">
                        <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                        <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
                    </form>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>