<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--suppress CheckTagEmptyBody -->
    <th:block th:include="templates :: headers"></th:block>
    <script src="https://kit.fontawesome.com/979785b753.js"></script>
    <title>DziraApp User List</title>
</head>
<body>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: navigator"></th:block>
<div class="container"><!--Main bootstrap element-->

    <div class="row d-flex justify-content-center">
            <span style="font-size: 10vh; color: Dodgerblue;">
                <i class="fas fa-users"></i>
            </span>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>User List</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Tasks</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getEmail()}"></td>
            <td>
                <span th:each="role : ${user.getRoles()}">
                    <span th:if="${role.getName().equals('ADMIN')}">
                        <span class="badge badge-success">Admin</span>
                    </span>
                    <span th:if="${role.getName().equals('USER')}">
                        <span class="badge badge-primary">User</span>
                    </span>
                </span>
            </td>
            <td th:text="${user.getTasks().size()}"></td>
            <td>
                <div class="btn-group" role="group" aria-label="Delete Button">
                    <form th:action="@{/admin/user/delete}" sec:authorize="hasRole('ADMIN')" th:method="get">
                        <input type="text" th:value="${user.getId()}" name="userId" style="display:none">
                        <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
                    </form>
                </div>
                <div class="btn-group" role="group" aria-label="User's Tasks Button">
                    <form th:action="@{/admin/task/listPerUser}" sec:authorize="hasRole('ADMIN')" th:method="get">
                        <input type="text" th:value="${user.getEmail()}" name="email" style="display:none">
                        <button type="submit" class="btn btn-warning btn-sm mr-2">User's Tasks</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>
<!--suppress CheckTagEmptyBody -->
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>